
// Variables

$black: #000;
$white: #FFF;
$dark: #222;
$light: #EEE;

// Fonts

@use './styles/fonts';

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    // border: 0.1px solid white;
}


body {
    background-color: $dark;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
}

.main-background {
    background-color: $dark;
    color: $light;
    display: flex;
    flex-direction: column;
    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
}

#title {
    display: none;
    font-size: 3rem;
}

#header {
    background-color: $dark;
    background-image: url(./images/Axis-mundi.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#header:hover {
    cursor: url(./images/arrow-alt-circle-down-regular.svg) 1 30;
}

#home, #rules {
    position: relative;
    margin: 0 10%;
    margin-top: 30rem;
    font-size: 2rem; 
    font-family: 'cinzel'; 
}

nav {
    padding: 15px;
    position: relative;
    font-family: Roboto, sans-serif; 
    display: flex;
    flex-direction: row;
    margin: auto;
    border-color: red;
    ul {
        display: flex;
        margin: auto;
        padding-inline-start: 0;
    }
    li {
        padding: 0.5rem 2rem;
        list-style: none;
    }
    li:not(:last-child){
        border-right: 1px solid white;
    }

    a {
        color: $light;
        text-decoration: none;
    }
    
    a:hover {
        color: cyan;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

p {
    text-align: justify;
    font-family: Roboto, sans-serif; 
}